/* style.css */

blockquote {
  padding: 0.4em 1em;
  border-left: 4px solid currentColor;
  line-height: 1.4;
  font-family: var(--slidev-font-sans);
}

blockquote p {
  text-indent: 1em;
  margin: 0 0 0.8em;
  line-height: 1.6;
}

blockquote p:last-child {
  margin-bottom: 0;
}